pandas~=1.4.3
fastapi~=0.79.1
gensim~=4.2.0
nltk~=3.7
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
scikit-learn
# watchtower~=3.0.0